
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/ecf9d2d6-642b-4295-b09c-f6ad2c401204.vsidx
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/137d0241-95c2-4503-b228-bec8fb705956.vsidx
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/20dfbe62-2c43-4195-8356-2462d1d121d7.vsidx
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/37e1216d-5df7-4eb6-9582-e75568e97abf.vsidx
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/577f63ac-295a-4b6d-ae19-50569b750220.vsidx
WorkshopManagement/.vs/WorkshopManagement/FileContentIndex/693ab810-1586-4371-9ed1-0e52ec920671.vsidx
*.vsidx
